<!DOCTYPE html>
<html ng-app="N2WApp">

  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Sanchez' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <div class="container" ng-controller="N2WCtrl">
      <div class="well row">
        <div class="col-xs-4 col-xs-offset-1">
          <h2 class="text-center">Numbers 2 Words</h2><br>
          <form ng-submit="produceWords(numberInput)" name="numberInputForm" novalidate>
            <div class="input-group" ng-class="{ 'has-error': numberInputForm.numberInput.$invalid }">
              <input type="text"
                      name="numberInput"
                      class="form-control"
                      pattern="[\d -]+"
                      id="number-input"
                      ng-model="numberInput" required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-disabled="!numberInputForm.numberInput.$valid">Submit</button>
              </span>
            </div>
          </form>
          <form>
            <br>
            <input type="text" class="form-control center-block" ng-model="resultsSearch" placeholder="Filter Results">
          </form>
        </div>
        <div class="col-xs-4 col-xs-offset-2">
          <h2 class="text-center">Words 2 Numbers</h2><br>
          <form ng-submit="produceNumbers(wordInput)" name="wordInputForm" novalidate>
            <div class="input-group" ng-class="{ 'has-error': wordInputForm.wordInput.$invalid }">
              <input type="text"
                      name="wordInput"
                      class="form-control"
                      id="word-input"
                      ng-model="wordInput" required>
              <span class="input-group-btn">
                <button type="submit" class="btn btn-success" ng-disabled="!wordInputForm.wordInput.$valid">Submit</button>
              </span>
            </div>
          </form>
          <br>
          <div class="number-result">
            Numbers: {{numbers}}
          </div>
        </div>
        <div class="col-xs-4 col-xs-offset-4">

        </div>
      </div>
      <div class="row">
        <div class="number-card col-xs-3" ng-repeat="word in words | filter:resultsSearch">
          <div class="letters" ng-bind-html="word.html"></div>
        </div>
      </div>
    </div>

    <script src="script.js"></script>
  </body>

</html>