body {
  font-family: 'Sanchez';
}

/*input {
  padding: 4px;
  border-radius: 4px;
  margin-top: 10px;
}*/

span {
  color: red;
}

button {
  padding: 5px;
}

.number-card {
  font-size: 1.8em;
  text-align: center;
  border-radius: 10px;
  border: 2px solid black;
  /*width: 400px;*/
  height: 80px;
  margin: 10px;
  margin-left: 6%;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 10px 10px 24px 2px rgba(0,0,0,0.6);
}

.number-result {
  background-color: grey;
  color: white;
  font-size: 1.1em;
  margin-top: -2px;
  padding: 8px;
  padding-left: 15px;
  border-radius: 10px;
}

.letters {
  margin-top: 20px;
}

.well {
  margin-top: -5px;
  box-shadow: inset 0px 10px 15px -7px rgba(0,0,0,0.75);
}
